.experience{
    background-color: rgb(70, 68, 68);
    margin-top: 10%;

padding: 5px;
padding-bottom: 75px;
}
.experience h1{
    text-align: left;
    margin-top: -35px;
    font-size: 30pt;
    margin-left: 55px;
}
.exps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.exp{
    display: flex;   
    margin-left: 1px !important;
    margin-top: 55px;
  max-width: 800px;

  
}

.exp h3{
    background-color: rgb(109, 105, 105);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 15px;
}


.glowing-ball {
    width: 22px;
    height: 22px;
    background-color: #f0d003;
    border-radius: 50%;
    box-shadow: 0 0 15px #e3c102, 0 0 10px #d9b902, 0 0 25px #d5d902, 0 0 40px #e4d901;
    margin-left: 20px;
    margin-top: 28px;
  }


.description h2{
    color: white;
    font-size: 26pt;
  
    margin-top: 12px;
}

.description p{
    color: rgb(187, 187, 187);
    font-size: 12pt;
margin-top: -20px;
 
}

.description {
    margin-left: 65px;
}





@media (max-width: 845px) {

    .description h2{
        color: white;
        font-size: 22pt;
      
        margin-top: 12px;
    }
    
    .description p{
        color: rgb(187, 187, 187);
        font-size: 10pt;
    margin-top: -20px;
      
    }
.description{
    margin-left: 20px;
}
    .experience{
        background-color: rgb(70, 68, 68);
        margin-top: 10%;
       padding: 40px;
      
    }
.exps{
    margin-top: 55px;
}
}



@media (max-width: 415px) {

    .exp h3{
        display: inline;
    }
.exp{
    flex-direction: column;
}


}