h1{
    color: aliceblue;
    text-align: center;
    font-family: "Sour Gummy", sans-serif ;
}
.skills{
     font-family: "Sour Gummy", sans-serif ;
    display: flex;
    justify-content: space-around;
    padding: 5px;  flex-wrap: wrap;
 padding-left: 17%;
 padding-right: 17%;
    padding-bottom: 75px;
}
.ski{
    margin-top: 300px;
}
.card{
    width: 150px;

    height: 155px;
    background-color:#232121;
   margin-left: 25px;
    border-radius: 10px;
  margin-top: 45px;
   
}
.card:hover{
    cursor: pointer;
    background-color: rgb(193, 169, 18);
}

.div1{
   
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}



.card p{
    color: white;
   
    font-weight: 700;
    font-size: 12pt;

}
.card1{
    width: 100px;
    height: 55px;
   
}
.card2 {
    width: 55px;
    height: 60px;
}
.card3{
    width: 100px;
    height: 60px;
}
.card4{
    width: 70px;
    height: 60px;
}

.card5{
 
    width: 130px;
    height: 100px;
}
.card6{
    margin-top: 0px;
    width: 120px;
    height: 100px;
}
.card7{
    margin-top:-10px;
    width: 60px;
    height: 60px;
}
.card8{
    height:70px;
    border-radius: 15px;
}
.card9{
    width: 55px;
height: auto;
}
.cp5{
    margin-top: -20px;
}
.cp6{
    margin-top: 5px;
}



@media (max-width: 900px) {
.ski{
    margin-top: 95px;
}
    .skills{
        
     
      padding: 5px;
        padding-bottom: 75px;
    }



}

@media (max-width: 450px) {
    .ski{
        margin-top: 95px;
        margin-left: 0px;
    }
    .skills{
        justify-content: space-between;
    }
        .card{
            width: 100px;
        height: 120px;
        }
    .card p{
        font-size: 10pt;
    }
    
    
    }

    @media (max-width: 380px) {
        .ski{
            margin-top: 95px;
        }
        .skills{
            justify-content: space-between;
        }
            .card{
                width: 95px;
            height: 110px;
            }
        .card p{
            font-size: 9pt;
        }
        
        
        }





