.testo h5{
    color: white;
    font-size: 26pt;
    margin-top: -25px;
    margin-left: 55px;
}


.test{
    padding: 5% 0% 5% 1%;
    display: flex;
   margin-top: 80px;

    justify-content: space-between;
    
}
.test a{
    color: white;
}

.person div{
    background-color: rgb(239, 216, 10);
    width:550px ;
   
    height: 330px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.person div img{
    width: 100%;
    height: 150%;
    margin-top: -170px;
    object-fit: contain;
}
.word{
    padding-left: 45px;
    margin-top: 0px;
}
.word h3{
    color: rgb(245, 209, 4);
    font-size: 25pt;
    margin-top: -55px;
    font-family:monospace;
}
.descr{
    display: flex;

}
.descr div{
    width: 100px;
    height: 3px;
    background-color: rgb(255, 251, 0);
    border-radius: 5px;
    margin-top: 35px;
}
.descr p{
    font-size: 15pt;
    color: wheat;
    margin-left: 15px;
}

.container{
    padding-top:80px ;
}

@media (max-width: 1050px) {
.test{
   
    flex-direction: column-reverse;
    align-items: center;
}
.word h3{
    margin-top: 5px;
}
}




@media (max-width: 750px) {
    .test{
        
        flex-direction: column-reverse;
        align-items: center;
    }
    .word h3{
        margin-top: 5px;
    }
    }









    @media (max-width: 580px) {

        .testo h5{
            font-size: 17pt;
        }
        .test{
        padding: 0%;
            flex-direction: column-reverse;
            align-items: center;
        }
        .word{
            padding-left: 5px;
            margin-top: 0px;
        }
        .word h3{
            margin-top: 5px;
        }
        .person div{
           
            width:400px ;  
            height: 230px;
         
        }
        .person div img{
            width: 100%;
            height: 150%;
            margin-top: -117px;
         
        }
        .container{
            padding: 10px;
        }
        .descr p{
            margin-top: -30px;
        }
        .descr div{
            width: 100px;
            height: 3px;
            background-color: rgb(255, 251, 0);
            border-radius: 5px;
            margin-top: -15px;
        }
        }
    




          

    @media (max-width: 430px) {

        .word h3{
            color: rgb(245, 209, 4);
            font-size: 21pt;
            margin-top: 15px;
            font-family:monospace;
        }
        .descr{
            display: flex;
        
        }
        .descr div{
            width: 100px;
            height: 3px;
            background-color: rgb(255, 251, 0);
            border-radius: 5px;
            margin-top:15px;
        }
        .descr p{
            font-size: 13pt;
            margin-top: 5px;
            color: wheat;
            margin-left: 5px;
        }
        .person div{
            background-color: rgb(229, 189, 58);
            width:250px ;
           
            height: 150px;
            border-top-left-radius: 35px;
            border-bottom-left-radius: 35px;
        }
        .person div img{
            width: 100%;
            height: 140%;
            margin-top: -60px;
            object-fit: contain;
        }
    }